@use '../_variables.scss' as *;

.chat {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;

    width: 100%;
    min-width: 200px;
    box-sizing: border-box;
    
    border-radius: $radius-1;
    background: $clr-light-card;
}

.chat__content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 16px 16px 0px 16px;
    min-width: 0;
    /* Messages будут рендериться тут */
}

.chat__message-panel {
    width: 100%;
    padding: $space-16px;
    background: $clr-light-card;
    box-sizing: border-box;
    box-shadow: $shadow;
    min-width: 0;
}