.code-window-placeholder {
  height: 100%;
  width: 100%;
  background: #fcf5ec;
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(80,80,80,0.08);
  display: flex;
  flex-direction: column;
  padding: 32px;
  box-sizing: border-box;
  color: #583a23;
}

.code-window-header {
  margin-bottom: 16px;
  border-bottom: 1px solid #d9c8b8;
}

.code-window-content {
  flex: 1 1 auto;
  padding-top: 16px;
  overflow-y: auto;
}