// class="chat__message-panel
// class="chat__input-message"
// class="chat__btn-send"
// class="chat__sent-button SVG
// class="chat__spinner"
// class="chat__error"
@use '../_variables.scss' as *;

.chat__message-panel {
    display: flex;
    align-items: center;
    background: $clr-light-card;
    border-radius: $radius-1;
    box-shadow: $shadow;
    padding: $space-16px;
    gap: $space-16px;
    max-width: $container-max-chat;
    position: sticky;
}

.chat__input-message {
    border: none !important;
    border-radius: $radius-2;
    outline: none !important;
    resize: none;
    margin: 0;

    min-height: 1.5em; // 1 line with line-height
    max-height: calc(1.5em * 10 + 2px); // 10 lines
    // padding достаточен от родителя, поэтому тут нет

    font-family: $font-sans;
    font-size: $font-size-base;
    line-height: $line-height-base;

    background: $clr-light-card;
    color: $clr-light-main;
    transition: box-shadow $transition-fast;
    flex: 1 1 auto;
    box-shadow: none;
    box-sizing: border-box;

    overflow-y: hidden; // <= 10 lines

    &:focus {
        box-shadow: 0 0 0 2px $clr-light-accent;
        outline: none !important;
    }
}

.chat__btn-send {
    background: $clr-light-accent;
    border: none;
    border-radius: $radius-round;
    padding: 8.5px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background $transition-fast;
    cursor: pointer;

    &:hover,
    &:focus {
        background: $clr-light-accent-hover;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

// color for the sent-svg arrow
.chat__sent-button path {
  fill: $clr-light-main;
}

.chat__sent-button {
    width: 18px;
    height: 15px;
    fill: $clr-light-main;
    flex-shrink: 0;
    pointer-events: none;
}

.chat__error {
    color: $clr-light-ui-task-error-text;
    background: $clr-light-ui-error-bg;
    border-radius: $radius-2;
    padding: $space-5px $space-16px;
    margin-left: $space-16px;
    font-size: 0.95em;
}