// class="chat__message-panel
// class="chat__input-message"
// class="chat__btn-send"
// class="chat__sent-button

// @use "../variables" as *;
// .chat__message-panel {
//     position: sticky;
//     top: 0;
//     z-index: #{$z-overlay};
//     background: var($clr-light-accent)
// }