@use './_variables.scss' as *;

.main-layout {
    display: flex;
    width: 100%;
    height: calc(100vh - $header-max-height);
    box-sizing: border-box;
    gap: $space-16px;
    padding: $space-16px;
}

.header {
    display: flex;
    flex-direction: row;
    height: 10%;
    min-height: 50px;
    width: 100%;
}

.left-side {
    // = chat + tasks
    display: flex;
    flex-direction: row;
    width: 33.33%; // 1/3
    min-width: 0;
    height: 100%;
    gap: $space-16px;
}

.task-bar {
    width: 9.09%; // 1/11
    border-radius: $radius-1;
    background: $clr-light-card;
    min-width: 32px;
    height: 100%;
    box-sizing: border-box;
}

.code-window {
    width: 66.66%; // 2/3
    min-width: 400px;
    height: 100%;
    box-sizing: border-box;
    background: $clr-light-card;
    border-radius: $radius-1;
}