textarea {
  border: none;
  outline: none;
  
  background-color: transparent;
  
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  
  appearance: none; 
  -webkit-appearance: none;
  
  resize: none;
  
  padding: 0;
  margin: 0;
}
    